body {
  background: #0f0f0f;
  color: white;
  text-align: center;
  font-family: Arial;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background: #ff004f;
  border: none;
  color: white;
  cursor: pointer;
}

#posts {
  margin-top: 20px;
}
